{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ blog_data['img_url'] }}')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-heading">
					<h1>{{ blog_data["title"] }}</h1>
					<h2 class="subheading">{{ blog_data["subtitle"] }}</h2>
					<span class="meta">Posted by
              <a href="#">{{ blog_data["author"] }}</a>
              on {{ blog_data["date"] }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            {{ blog_data["body"] | safe }}
          </p>
           <hr>
           <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{ url_for('edit_post', post_id=blog_data['id']) }}">Edit Post</a>
        </div>
          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}